* {
    box-sizing: border-box;
    /* border: rgb(53, 83, 53) solid; */
    margin: 2px;
    padding: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    
    display: flex;
    justify-content: center;
    gap: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    flex: 1;
}

.profile-picture {
    height: 20px;
    width: auto;
}
.social-icons img{
    height: 10px;
    width: auto;
  
}

.attention-grabber {
    display: flex;
}

.bar {
    background-color: black;
    height: 10px;
}

.project-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-post img{
    width: 450px;
    height: auto;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
.project-section h2{ 
    
}

.project-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer,.contact {
    display: flex;
    justify-content: space-between;
}