[Unit]
Description=Gunicorn instance to serve the Flask Website
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/Website
Environment="PATH=/root/Website/venv/bin"
ExecStart=/root/Website/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 main:app

[Install]
WantedBy=multi-user.target
