* {
    box-sizing: border-box;
    /* border: rgb(53, 83, 53) solid; */
    margin: 0px;
    padding: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    margin: auto;
    align-items: center;
}

nav{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 100%;
    flex: 1;
}