<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- Use Flask's `url_for` to reference CSS files -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    </div>
    <main>
        <div id="wrapper">    
        {% block content %}{% endblock %}
        </div>
    </main>
    <div id="wrapper">
        {% block sidebar %}{% endblock %}
    </div>
    <footer>
        <div id="wrapper">    
        {% include 'footer.html' %}
        </div>
    </footer>
    </div>
    <!-- Scripts -->
     {% block scripts %}{% endblock %}
</body>
</html>
