{% extends "base.html" %}
{% block title %}Home{% endblock %}

<div id="wrapper">
{% block content %}
<div id="main">
	<div class="inner">
		<header>
			<h1> Cloud and Storage Architect<br /></h1>
			<p>I specialize in engineering and architecting diverse cloud solutions, leveraging AWS and Infrastructure as Code to build scalable and efficient systems.</p>
		</header>
			<!-- Use Flask's `url_for` to reference images -->
			<section class="tiles">
					{% for article in articles %}
					<article class="{{ article.style_class }}">
						<span class="image">
							<img src="{{ url_for('static', filename=article.image) }}" alt="{{ article.title }}" />
						</span>
						<a href="{{ article.link }}">
							<h2>{{ article.title }}</h2>
							<div class="content">
								<p>{{ article.description }}</p>
							</div>
						</a>
					</article>
					{% endfor %}
				</section>
			
	</div>
</div>
{% endblock %}
