{% extends "base.html" %}
{% block title %}Home{% endblock %}

<div id="wrapper">
{% block content %}
<div id="main">
	<div class="inner">
		<header>
			<h1> Cloud and Storage Architect<br /></h1>
			<p>I specialize in engineering and architecting diverse cloud solutions, leveraging AWS and Infrastructure as Code to build scalable and efficient systems.</p>
		</header>
			<!-- Use Flask's `url_for` to reference images -->
			<section class="tiles">
					{% for article in articles %}
					<article class="style1">
						<span class="image">
							<img src="{{ article.thumbnail_image }}" alt="{{ article.thumbnail_image }}" />
						</span>
						<a href="{{ url_for('article', article_id=article.id) }}">
							<h2>{{ article.title }}</h2>
							<div class="content">
								<p>{{ article.description }}</p>
							</div>
							div class="content">
								<p>{{ article.body }}</p>
						</a>
					</article>
					{% endfor %}
				</section>
			
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div class="actions button-container-div">
    <div class="button-container">
		{% if current_user.is_authenticated %}
        <a href="{{ url_for('new_article') }}" class="button primary">Create New Article</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}