{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}

<div id="wrapper">
{% block content %}
				<!-- Main -->
                <div id="main">
                    <div class="inner">
                    
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %}
                            <p>{{ message }}</p>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ user_form.hidden_tag() }}
        <div>
            {{ user_form.user_name.label }}<br>
            {{ user_form.user_name(size=32) }}
        </div>
        <div>
            {{ user_form.password.label }}<br>
            {{ user_form.password(size=32) }}
        </div>
        <div>
            {{ user_form.submit() }}
        </div>
    </form>



                    </div>
                </div>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}